USE [master]
GO
/****** Object:  Database [MonthlyClaimsDB]    Script Date: 2025/11/21 16:11:44 ******/
CREATE DATABASE [MonthlyClaimsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MonthlyClaimsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MonthlyClaimsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MonthlyClaimsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MonthlyClaimsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MonthlyClaimsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MonthlyClaimsDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025/11/21 16:11:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 2025/11/21 16:11:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[ClaimID] [int] IDENTITY(1,1) NOT NULL,
	[LecturerID] [int] NOT NULL,
	[LecturerName] [nvarchar](max) NULL,
	[DocumentName] [nvarchar](max) NULL,
	[HoursWorked] [decimal](18, 2) NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[VerifiedBy] [nvarchar](max) NULL,
	[VerifiedByRole] [nvarchar](max) NULL,
	[VerifiedDate] [datetime2](7) NULL,
	[SubmittedBy] [nvarchar](max) NULL,
	[AutoFlagReason] [nvarchar](max) NULL,
	[RejectionReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_Claims] PRIMARY KEY CLUSTERED 
(
	[ClaimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 2025/11/21 16:11:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[ClaimID] [int] NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[FileType] [nvarchar](max) NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 2025/11/21 16:11:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[LecturerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Department] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Lecturer] PRIMARY KEY CLUSTERED 
(
	[LecturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/11/21 16:11:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251121112740_Initial', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251121134703_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Claims] ON 

INSERT [dbo].[Claims] ([ClaimID], [LecturerID], [LecturerName], [DocumentName], [HoursWorked], [HourlyRate], [TotalAmount], [Description], [Status], [VerifiedBy], [VerifiedByRole], [VerifiedDate], [SubmittedBy], [AutoFlagReason], [RejectionReason]) VALUES (5, 1, N'Premice Elimie', N'MayClaim.pdf', CAST(12.50 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)), CAST(3125.00 AS Decimal(18, 2)), N'May tutorial work', N'Pending', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Claims] ([ClaimID], [LecturerID], [LecturerName], [DocumentName], [HoursWorked], [HourlyRate], [TotalAmount], [Description], [Status], [VerifiedBy], [VerifiedByRole], [VerifiedDate], [SubmittedBy], [AutoFlagReason], [RejectionReason]) VALUES (6, 2, N'Alice Loembe', N'JanClaim_(2).pdf', CAST(10.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), N'Lab supervision work', N'Verified', N'Coordinator1', N'Coordinator', CAST(N'2025-11-21T14:54:05.1366667' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Claims] ([ClaimID], [LecturerID], [LecturerName], [DocumentName], [HoursWorked], [HourlyRate], [TotalAmount], [Description], [Status], [VerifiedBy], [VerifiedByRole], [VerifiedDate], [SubmittedBy], [AutoFlagReason], [RejectionReason]) VALUES (7, 3, N'Cecilia Akoughet', N'Affidavit.pdf', CAST(8.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), CAST(2400.00 AS Decimal(18, 2)), N'Practical Art', N'Approved', N'Manager1', N'Manager', CAST(N'2025-11-21T14:54:05.1366667' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Claims] OFF
GO
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([DocumentID], [ClaimID], [FileName], [FileType]) VALUES (2, 5, N'MayClaim.pdf', N'PDF')
INSERT [dbo].[Documents] ([DocumentID], [ClaimID], [FileName], [FileType]) VALUES (3, 6, N'JanClaim_(2).pdf', N'PDF')
INSERT [dbo].[Documents] ([DocumentID], [ClaimID], [FileName], [FileType]) VALUES (4, 7, N'Affidavit.pdf', N'PDF')
SET IDENTITY_INSERT [dbo].[Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Lecturer] ON 

INSERT [dbo].[Lecturer] ([LecturerID], [Name], [Email], [Department]) VALUES (1, N'Naomie Premice', N'EPREMICE04@GMAIL.COM', N'Engineering')
INSERT [dbo].[Lecturer] ([LecturerID], [Name], [Email], [Department]) VALUES (2, N'Naomie Elimie', N'epremice@gmail.com', N'IT')
INSERT [dbo].[Lecturer] ([LecturerID], [Name], [Email], [Department]) VALUES (3, N'Premice Elimie', N'epremice@iie.ac.za', N'Information Technology')
SET IDENTITY_INSERT [dbo].[Lecturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (1, N'lecturer1', N'pass123', N'Lecturer')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (2, N'lecturer2', N'pass321', N'Lecturer')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (3, N'coordinator1', N'pass123', N'Program Coordinator')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Claims_LecturerID]    Script Date: 2025/11/21 16:11:45 ******/
CREATE NONCLUSTERED INDEX [IX_Claims_LecturerID] ON [dbo].[Claims]
(
	[LecturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_ClaimID]    Script Date: 2025/11/21 16:11:45 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_ClaimID] ON [dbo].[Documents]
(
	[ClaimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Lecturer_LecturerID] FOREIGN KEY([LecturerID])
REFERENCES [dbo].[Lecturer] ([LecturerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Lecturer_LecturerID]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Claims_ClaimID] FOREIGN KEY([ClaimID])
REFERENCES [dbo].[Claims] ([ClaimID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Claims_ClaimID]
GO
USE [master]
GO
